body{
    background-color: #24353F;
}
.contant{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: #24353F;

}
#prodectueserName{
    color: #17A2B8 !important;
}
button{
    
}